@font-face {
  font-family: Aleo;
  src: url('/app/assets/fonts/aleo-light-webfont.woff');
  font-weight: 300;
}
@font-face {
  font-family: Aleo;
  src: url('/app/assets/fonts/aleo-regular-webfont.woff');
  font-weight: 400;
}
@font-face {
  font-family: Aleo;
  src: url('/app/assets/fonts/aleo-bold-webfont.woff');
  font-weight: bold;
}

/* navigation links in header and footer */
@define-mixin nav-link {
  font-family: Aleo;
  font-size: 18px;
  line-height: 1.83;
  text-align: left;
  color: $white;
  font-weight: normal;
}

@define-mixin nav-sticky {
  font-family: Lato;
  font-size: 15px;
  text-align: left;
  color: $pinkish-grey;
}

@define-mixin nav-sticky-item {
  font-family: Lato;
  font-size: 15px;
  line-height: 1;
  text-align: left;
  color: $pinkish-grey;
}

@define-mixin footer-link {
  font-family: Lato;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.47;
  text-align: left;
  color: $white
}

/* dossier brand in header and footer */
@define-mixin nav-brand--large {
  font-family: Aleo;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: $white;
  font-weight: 300;
}

@define-mixin footer-brand--large {
  font-family: Aleo;
  font-size: 17px;
  line-height: 1;
  text-align: left;
  color: $white;
  font-weight: 300;
}

@define-mixin nav-brand--mobile--large {
  font-family: Aleo;
  font-size: 22px;
  line-height: 1;
  text-align: left;
  color: $white;
  font-weight: 300;
}

@define-mixin nav-brand--small {
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: $white
}

@define-mixin nav-brand--mobile--small {
  font-family: Lato;
  font-size: 10.5px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: $white
}

@define-mixin nav-btn {
  font-family: Aleo;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: $white;
  font-weight: bold;
}

@define-mixin nav-btn--mobile--aleo {
  font-family: Aleo;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  color: $white;
  font-weight: bold;
}

@define-mixin nav-btn--small {
  font-family: Lato;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  color: $white;
}

@define-mixin nav-btn--mobile-lato {
  font-family: Lato;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  color: $white;
  font-weight: 300;
}

@define-mixin btn-support--primary--lg {
  font-family: Aleo;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: $white;
}

@define-mixin btn-support--primary--sm {
  font-family: Lato;
  font-size: 15px;
  font-weight: 200;
  line-height: 1;
  text-align: center;
  color: $white;
}

@define-mixin btn-support--small {
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: $brownish-grey;
}

@define-mixin text--small {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: $greyish-brown;
}

@define-mixin text--xsmall {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: $greyish-brown;
}

/*
 * page heading and lead for desktop/tablet
 */
@define-mixin title--small {
  font-family: Aleo;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
  color: $topaz-two;
}

@define-mixin lead {
  font-family: Lato;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.27;
  text-align: left;
  color: $greyish-brown;
}

/*
 * page heading and lead for mobile
 */
@define-mixin title--mobile {
  font-family: Aleo;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: $topaz-two;
}

@define-mixin lead--mobile {
  font-family: Lato;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.05;
  text-align: left;
  color: $greyish-brown;
}

/*
 * article styles for desktop/tablet
 */
@define-mixin heading {
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.27;
  text-align: left;
  color: $greyish-brown;
}

@define-mixin heading--small {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.83;
  text-align: left;
  color: $greyish-brown;
}

@define-mixin text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.83;
  text-align: left;
  color: $greyish-brown;
}

/*
 * article styles for mobile
 */
@define-mixin heading--mobile {
  font-family: Lato;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.05;
  text-align: left;
  color: $greyish-brown;
}

@define-mixin heading--small--mobile {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-align: left;
  color: $greyish-brown;
}

@define-mixin text--mobile {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  text-align: left;
  color: $greyish-brown;
}

/*
 * teaser
 */
 @define-mixin heading--special--small {
   font-family: Lato;
   font-size: 13px;
   line-height: 1.69;
   text-align: left;
   color: $brownish-grey;
 }

@define-mixin text--special {
  font-family: Aleo;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.29;
  text-align: left;
  color: $greyish-brown;
}

/*
 * news
 */
@define-mixin heading--special {
 font-family: Lato;
 font-size: 15px;
 line-height: 1.47;
 text-align: left;
 color: $brownish-grey;
}


.title {
  font-family: Aleo;
  font-size: 80px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: $topaz-two;
}

/* page header h1 */
.title--small {
  font-family: Aleo;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
  color: $topaz-two;
}

.title--small--support {
  font-family: Aleo;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
  color: $tomato;
}

.title--mobile {
  font-family: Aleo;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: $topaz-two;
}

/*
.heading {
  font-family: Aleo;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.27;
  text-align: left;
  color: $greyish-brown;
}
*/

.title--small-support--mobile {
  font-family: Aleo;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.27;
  text-align: left;
  color: $tomato;
}

/* h1 heading for article, desktop/tablet */
.heading {
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.27;
  text-align: left;
  color: $greyish-brown;
}

/* page lead, desktop/tablet */
.lead {
  font-family: Lato;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.27;
  text-align: left;
  color: $greyish-brown;
}

/*
.heading--small {
  font-family: Aleo;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: $greyish-brown;
}
*/

/* h1 heading for article, mobile */
.heading--mobile {
  font-family: Lato;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.05;
  text-align: left;
  color: $greyish-brown;
}

.lead--mobile {
  font-family: Lato;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.05;
  text-align: left;
  color: $greyish-brown;
}

/* h2 heading for article, desktop/tablet */
.heading--small {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.83;
  text-align: left;
  color: $greyish-brown;
}

/* bread text for article, desktop/mobile */
.text {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.83;
  text-align: left;
  color: $greyish-brown;
}

.link {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.83;
  text-align: left;
  color: $topaz-two;
}

.text--placeholder {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.83;
  text-align: left;
  color: $warm-grey;
}

/* h2 heading for article, mobile */
.heading--small--mobile {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-align: left;
  color: $greyish-brown;
}

.text--placeholder--mobile {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: $warm-grey;
}

.link--mobile {
  font-family: Lato;
  font-size: 16px;
  line-height: 2.06;
  text-align: left;
  color: $topaz-two;
}

/* bread text for article, mobile */
.text--mobile {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: $greyish-brown;
}

/* news item date */
.heading--special {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: $brownish-grey;
}

.text--small {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: $greyish-brown;
}

.link--small {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: $topaz-two;
}

.link--small--support {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: $tomato;
}

.heading--xsmall {
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.69;
  text-align: left;
  color: $white;
}

/* support-box footer */
.note {
  font-family: Lato;
  font-size: 13px;
  font-style: italic;
  line-height: 1.69;
  text-align: left;
  color: $greyish-brown;
}

.text--input-label {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: $topaz-two;
}

.heading--special--small {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: $warm-grey;
}

.text--xsmall {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: $greyish-brown;
}

.heading--special--small {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: $brownish-grey;
}

.text--input-label--error {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: $tomato;
}
