/* colors here */

$white: #fbfbfb;
$greyish-brown: #3f3f3f;
$white-two: #efefef;
$pinkish-grey: #bdbdbd;
$warm-grey: #9b9b9b;
$white-three: #d6d6d6;
$brownish-grey: #6d6d6d;
$black: #0f0f0f;
$light-teal: #a8e7ee;
$tiffany-blue: #75dae5;
$topaz-two: #17adbd;
$duck-egg-blue: #ccf1f5;
$topaz: #12c0d2;
$blue-green: #168e9a;
$bluegreen: #03717c;
$dark-green-blue: #114f56;
$light-tan: #fbdfd7;
$blush: #f6b8a6;
$faded-orange: #f08568;
$tomato: #ea5d36;
$copper: #cd4a2b;
$reddish: #b83b31;
$brownish-red: #962d24;
$light-khaki: #e2f7d1;
$red-brown: #80231b;
$washed-out-green: #c7f3a2;
$light-grass-green: #a1ee61;
$green-apple: #6fd51a;
$leafy-green: #3cb934;
$spruce: #0c763d;
$evergreen: #055329;
$light-khaki-two: #f4f8d4;
$light-khaki-three: #ebe493;
$dull-yellow: #e6d561;
$sickly-yellow: #e0c632;
$pea: #c7a821;
$hazel: #a47d16;
$medium-brown: #84570e;
$dark-sea-green: #17994d;
$reddish-brown: #6f3e07;
