html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Aleo;
  src: url('/app/assets/fonts/aleo-light-webfont.woff');
  font-weight: 300;
}

@font-face {
  font-family: Aleo;
  src: url('/app/assets/fonts/aleo-regular-webfont.woff');
  font-weight: 400;
}

@font-face {
  font-family: Aleo;
  src: url('/app/assets/fonts/aleo-bold-webfont.woff');
  font-weight: bold;
}

@font-face {
  font-family: Lato;
  src: url('/app/assets/fonts/Lato-Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url('/app/assets/fonts/Lato-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url('/app/assets/fonts/Lato-Italic.woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url('/app/assets/fonts/Lato-Bold.woff');
  font-weight: bold;
}

.title {
  font-family: Aleo;
  font-size: 80px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: #17adbd;
}

.title--small {
  font-family: Aleo;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
  color: #17adbd;
}

.title--small--support {
  font-family: Aleo;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
  color: #ea5d36;
}

.title--mobile {
  font-family: Aleo;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: #17adbd;
}

.title--small-support--mobile {
  font-family: Aleo;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.27;
  text-align: left;
  color: #ea5d36;
}

.heading {
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.27;
  text-align: left;
  color: #3f3f3f;
}

.lead {
  font-family: Lato;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.27;
  text-align: left;
  color: #3f3f3f;
}

.heading--mobile {
  font-family: Lato;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.05;
  text-align: left;
  color: #3f3f3f;
}

.lead--mobile {
  font-family: Lato;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.05;
  text-align: left;
  color: #3f3f3f;
}

.heading--small {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.83;
  text-align: left;
  color: #3f3f3f;
}

.text {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.83;
  text-align: left;
  color: #3f3f3f;
}

.link {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.83;
  text-align: left;
  color: #17adbd;
}

.text--placeholder {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.83;
  text-align: left;
  color: #9b9b9b;
}

.heading--small--mobile {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-align: left;
  color: #3f3f3f;
}

.text--placeholder--mobile {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #9b9b9b;
}

.link--mobile {
  font-family: Lato;
  font-size: 16px;
  line-height: 2.06;
  text-align: left;
  color: #17adbd;
}

.text--mobile {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #3f3f3f;
}

.heading--special {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #6d6d6d;
}

.text--small {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #3f3f3f;
}

.link--small {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #17adbd;
}

.link--small--support {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #ea5d36;
}

.heading--xsmall {
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.69;
  text-align: left;
  color: #fbfbfb;
}

.note {
  font-family: Lato;
  font-size: 13px;
  font-style: italic;
  line-height: 1.69;
  text-align: left;
  color: #3f3f3f;
}

.text--input-label {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: #17adbd;
}

.heading--special--small {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: #9b9b9b;
}

.text--xsmall {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: #3f3f3f;
}

.heading--special--small {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: #6d6d6d;
}

.text--input-label--error {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: #ea5d36;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
  height: 55px;
  background-color: #3f3f3f;
}

@media (min-width: 768px) {

.main-header {
    height: 68px
}
  }

.main-header .header {
    width: 100%;
    max-width: 1024px;
    line-height: 55px;
    padding-left: 22px;
    padding-right: 11px;
    font-size: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

@media (min-width: 768px) {

.main-header .header {
      line-height: 66px;
      padding-left: 33px
  }
  }

@media (min-width: 1024px) {

.main-header .header {
      padding-left: 44px;
      margin-left: calc((100% - 1024px) / 2)
  }
  }

.main-header .header__brand {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      text-decoration: none;
    }

.main-header .header__brand span {
        margin: 0;
      }

.main-header .header__brand--large {
        position: relative;
        top: -3px;
        display: block;
        line-height: 1;
      }

@media (min-width: 768px) {

.main-header .header__brand--large {
          top: -5px
      }
  }

.main-header .header__brand--large img {
          height: 26px;
        }

@media (min-width: 768px) {

.main-header .header__brand--large img {
            height: auto
        }
  }

.main-header .header__brand--small {
        font-family: Lato;
        font-size: 10.5px;
        font-weight: normal;
        line-height: 1;
        text-align: left;
        color: #fbfbfb;
        display: block;
      }

@media (min-width: 768px) {

.main-header .header__brand--small {
          font-family: Lato;
          font-size: 13px;
          font-weight: normal;
          line-height: 1;
          text-align: left;
          color: #fbfbfb
      }
  }

.main-header .header__links {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

.main-header .header__links li {
        display: inline-block;
      }

@media (min-width: 768px) {

.main-header .header__links li {
          margin-left: 31px
      }
  }

@media (min-width: 1024px) {

.main-header .header__links li {
          margin-left: 22px
      }
  }

.main-header .header__links li a {
          font-family: Aleo;
          font-size: 18px;
          line-height: 1.83;
          text-align: left;
          color: #fbfbfb;
          font-weight: normal;
          display: inline-block;
          line-height: 66px;
          text-decoration: none;
          vertical-align: middle;
        }

.main-header .header__links li a:hover {
          color: #bdbdbd;
        }

.main-header .header__links--active {
        color: #12c0d2 !important;
      }

.main-header .header .link-c-1 {
      display: none;
    }

@media (min-width: 768px) {

.main-header .header .link-c-1 {
        display: inline-block
    }
  }

.main-header .header .link-c-2 {
      display: none;
    }

@media (min-width: 1024px) {

.main-header .header .link-c-2 {
        display: inline-block
    }
  }

.main-header .header__share-buttons {
      display: none;
      margin-left: 28px;
    }

@media (min-width: 1024px) {

.main-header .header__share-buttons {
        display: inline-block
    }
  }

.main-header .header__buttons {
      float: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 44px;
      height: 55px;
    }

@media (min-width: 768px) {

.main-header .header__buttons {
        margin-right: 0;
        height: 66px
    }
  }

.menu {
  display: inline-block;
  background-color: #3f3f3f;
  position: relative;
  float: right;
}

@media (min-width: 768px) {

.menu {
    margin-left: 26px;
    float: none
}
  }

@media (min-width: 1024px) {

.menu {
    margin-left: 20px
}
  }

.menu__title {
    display: none;
    font-family: Lato;
    font-size: 15px;
    text-align: left;
    color: #bdbdbd;
    vertical-align: middle;
    line-height: 55px;
  }

@media (min-width: 768px) {

.menu__title {
      display: inline-block;
      line-height: 66px
  }
  }

.menu__title::after {
      content: url('/app/assets/images/menu-arrow.png');
      font-size: 22px;
      position: relative;
      top: 2px;
      left: 2px;
    }

.menu__title:hover {
    color: #d6d6d6;
  }

.menu__menu-icon {
    width: 23px;
    height: 14px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10px;
  }

.menu__menu-icon::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    }

.menu__menu-icon__middle {
      position: absolute;
      top: 6px;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      -webkit-transform-origin: 0 50%;
              transform-origin: 0 50%;
      -webkit-transition: all .3 ease-out;
      transition: all .3 ease-out;
    }

.menu__menu-icon::after {
      content: "";
      position: absolute;
      bottom: 0;;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    }

@media (min-width: 768px) {

.menu__menu-icon {
      display: none
  }
  }

.menu__menu-icon--close-x::before {
      -webkit-transform: rotate(45deg) translateY(-3px);
              transform: rotate(45deg) translateY(-3px);
    }

.menu__menu-icon--close-x .menu__menu-icon__middle {
      opacity: 0;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }

.menu__menu-icon--close-x::after {
      -webkit-transform: rotate(-45deg) translateY(2px);
              transform: rotate(-45deg) translateY(2px);
    }

.menu__links {
    display: none;
    background-color: #3f3f3f;
    list-style-type: none;
    margin: 0;
    padding: 35px 0 11px 0;
    position: fixed;
    top: 55px;
    right: 0;
    left: 0;
    z-index: 100;
  }

@media (min-width: 768px) {

.menu__links {
      position: absolute;
      top: 66px;
      right: auto;
      left: -22px;
      padding-top: 10px
  }
  }

.menu__links li {
      line-height: 1;
      margin-bottom: 11px;
    }

.menu__links li a {
        font-family: Aleo;
        font-size: 18px;
        line-height: 1.83;
        text-align: left;
        color: #fbfbfb;
        font-weight: normal;
        text-decoration: none;
        padding: 0 23px;
      }

.menu__links li a:hover {
        color: #bdbdbd;
      }

.menu__links--active {
      color: #12c0d2 !important;
    }

.menu__links--is-visible {
      display:block;
    }

.menu__links .link-c-1 {
      display: block !important;
    }

@media (min-width: 768px) {

.menu__links .link-c-1 {
        display: none !important
    }
  }

.menu__links .link-c-2 {
      display: block !important;
    }

@media (min-width: 1024px) {

.menu__links .link-c-2 {
        display: none !important
    }
  }

.menu__share-container {
    display: inline-block;
    line-height: normal;
    padding-left: 23px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

.menu__share-container ul li {
      margin-bottom: 0;
    }

@media (min-width: 1024px) {

.menu__share-container {
      display: none
  }
  }

@media (max-width: 767px) {

.disable-scroll {
    overflow: hidden
}
  }

@media (max-width: 767px) {

.opaque {
    opacity: 0.5
}
  }

.header-share {
  background-color: #3f3f3f;
  display: inline-block;
}

.header-share ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.header-share ul li {
      display: inline-block;
      margin-left: 12px;
    }

.header-share ul li a {
        width: 32px;
        height: 32px;
        border-radius: 32px;;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        position: relative;
      }

.header-share ul li a img {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
        }

.header-share ul li:first-child {
      margin-left: 0;
    }

.header-share__mail {
    background-color: #6d6d6d;
  }

.header-share__mail:hover {
    background-color: #9b9b9b;
  }

.header-share__mail--pressed {
    background-color: #3f3f3f !important;
  }

.header-share__mail--disabled {
    background-color: #d6d6d6;
  }

.header-share__facebook {
    background-color: #168e9a;
  }

.header-share__facebook:hover {
    background-color: #12c0d2;
  }

.header-share__facebook--pressed {
    background-color: #168e9a !important;
  }

.header-share__facebook--disabled {
    background-color: #a8e7ee;
  }

.header-share__twitter {
    background-color: #12c0d2;
  }

.header-share__twitter:hover {
    background-color: #75dae5;
  }

.header-share__twitter--pressed {
    background-color: #17adbd !important;
  }

.header-share__twitter--disabled {
    background-color: #a8e7ee;
  }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-decoration: none;
  width: 48px;
  height: 34px;
  line-height: 34px;
  margin-left: 11px;
  vertical-align: middle;
  text-align: center;
  border-radius: 1px;
  overflow: hidden;
}

@media (min-width: 768px) {

.btn {
    width: auto;
    height: 44px;
    line-height: 44px
}
  }

.btn--primary {
    background-color: #ea5d36;
    font-size: 0;
    font-family: Aleo;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    color: #fbfbfb;
    font-weight: bold;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

@media (min-width: 768px) {

.btn--primary {
      padding: 0px 11px;
      font-family: Aleo;
      font-size: 18px;
      line-height: 1;
      text-align: center;
      color: #fbfbfb;
      font-weight: bold
  }
  }

.btn--primary:hover {
      background-color: #cd4a2b;
      color: #f6b8a6;
    }

.btn--primary--pressed {
      background-color: #cd4a2b;
      color: #fbfbfb !important;
    }

.btn--primary--dispabled {

    }

.btn--secondary {
    border: 1px solid #d6d6d6;
    font-size: 0;
    padding: 0 4px;
    font-family: Lato;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    font-weight: 300;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    color: #d6d6d6;
  }

@media (min-width: 768px) {

.btn--secondary {
      padding: 0px 11px;
      font-family: Lato;
      font-size: 15px;
      line-height: 1;
      text-align: center
  }
  }

.btn--secondary:hover {
      border-color: #bdbdbd;
      color: #bdbdbd;
    }

.btn--secondary--pressed {
      border-color: #d6d6d6;
      color: #d6d6d6 !important;
    }

.btn--secondary--dispabled {

    }

.btn--pull-right {
    float: right;
  }

footer {

  width: 100%;
  background-color: #3f3f3f;
}

footer .footer {

    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    line-height: 1;
    font-size: 0;
    padding-top: 17px;
  }

@media (min-width: 768px) {

footer .footer {
      line-height: 66px;
      padding-top: 0
  }
  }

footer .footer .footer__brand {
      display: block;
      cursor: pointer;
      padding-left: 22px;
      text-decoration: none;
    }

@media (min-width: 768px) {

footer .footer .footer__brand {
        display: inline-block;
        vertical-align: middle;
        padding-left: 33px
    }
  }

@media (min-width: 1024px) {

footer .footer .footer__brand {
        padding-left: 66px
    }
  }

footer .footer .footer__brand span {
        margin: 0;
      }

footer .footer .footer__brand--large {
        display: block;
        height: 23px;
        line-height: 23px !important;
      }

footer .footer .footer__brand--large img {
          height: 25px;
        }

@media (min-width: 768px) {

footer .footer .footer__brand--large img {
            height: 23px
        }
  }

footer .footer .footer__brand--small {
        font-family: Lato;
        font-size: 10.5px;
        font-weight: normal;
        line-height: 1;
        text-align: left;
        color: #fbfbfb;
        display: block;
        padding-top: 3px;
      }

footer .footer .footer__links {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 15px 0 15px 22px;
      line-height: 36px;
    }

@media (min-width: 768px) {

footer .footer .footer__links {
        line-height: 66px;
        padding: 0
    }
  }

footer .footer .footer__links li {
        display: inline-block;
        padding-right: 37px;
      }

@media (min-width: 768px) {

footer .footer .footer__links li {
          padding-right: 0;
          padding-left: 37px
      }
  }

footer .footer .footer__links li a {
          font-family: Lato;
          font-size: 15px;
          font-weight: 200;
          line-height: 1.47;
          text-align: left;
          color: #fbfbfb;
          text-decoration: none;
          vertical-align: middle;
        }

footer .footer .footer__links li a:hover {
          color: #bdbdbd;
        }

.content {
  padding: 117px;
  padding-bottom: 80px;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: 768px) {

.content {
    padding-left: 33px;
    padding-right: 33px
}
  }

@media (min-width: 1024px) {

.content {
    padding-left: 66px;
    padding-right: 0
}
  }

@media (max-width: 767px) {

.content--no-left-padding-mobile {
      padding-left: 0;
      padding-right: 0
  }
  }

@media (min-width: 1024px) {

.content--rl-narrow-margin-desktop {
      padding-left: 55px;
      padding-right: 55px
  }
  }

@media (min-width: 768px) {

.content--extra-narrow-right-margin {
      padding-right: 0px
  }
  }

@media (min-width: 1024px) {

.content--extra-narrow-right-margin {
      padding-right: 12px
  }
  }

.content__wrapper {
    position: relative;
  }

.content__wrapper__main {
      width: 100%;
    }

@media (min-width: 1024px) {

.content__wrapper__main {
        width: calc(100% - 284px);
        padding-right: 33px
    }
  }

.content__wrapper__aside {
      width: 100%;
    }

@media (min-width: 1024px) {

.content__wrapper__aside {
        width: 284px;
        position: absolute;
        right: 0;
        top: 0
    }
  }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

@media (min-width: 768px) {

.main {
    -webkit-box-flex: 1;
        -ms-flex: 1 calc(100% - 284px);
            flex: 1 calc(100% - 284px);
    padding-right: 33px
}
  }

.article {
  padding-bottom: 50px;
}

.article h1 {
    font-family: Lato;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.05;
    text-align: left;
    color: #3f3f3f;
  }

@media (min-width: 768px) {

.article h1 {
      font-family: Lato;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.27;
      text-align: left;
      color: #3f3f3f
  }
  }

.article h2 {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    text-align: left;
    color: #3f3f3f;
  }

@media (min-width: 768px) {

.article h2 {
      font-family: Lato;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.83;
      text-align: left;
      color: #3f3f3f;
      margin-top: 36px;
      margin-bottom: 14px
  }
  }

.article p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: left;
    color: #3f3f3f;
  }

@media (min-width: 768px) {

.article p {
      font-family: Lato;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.83;
      text-align: left;
      color: #3f3f3f;
      margin: 14px 0
  }
  }

.article img {
    width: 100%;
    border-radius: 1px;
    overflow: hidden;
  }

@media (max-width: 767px) {

.article--padding-mobile {
      padding-left: 22px;
      padding-right: 22px
  }
  }

.share {

  max-width: 470px;
  margin-top: 40px;
}

.share header {
    padding-bottom: 17px;
  }

.share ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.share ul li {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 10%;
              flex: 1 0 10%;
    }

.share ul li a, .share ul li span {
        width: 32px;
        height: 32px;
        border-radius: 32px;;
        display: inline-block;
        vertical-align: middle;
        position: relative;
      }

.share ul li a img, .share ul li span img {
          width: auto;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          padding: 0;
        }

.share ul li:first-child a {
      margin-left: 0;
    }

.share ul li:last-child {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 60%;
              flex: 1 0 60%;
    }

.share ul li:last-child span input {
      font-family: Lato;
      font-size: 13px;
      line-height: 1.69;
      text-align: left;
      color: #3f3f3f;
      display: inline-block;
      width: 240px;
      line-height: 31px;
      padding-left: 40px;
      padding-bottom: 0;
      padding-top: 0;
      border: 1px solid #d6d6d6;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      background-color: transparent;
      outline: none;
    }

.share__mail {
    background-color: #6d6d6d;
  }

.share__mail:hover {
    background-color: #9b9b9b;
  }

.share__mail--pressed {
    background-color: #3f3f3f !important;
  }

.share__mail--disabled {
    background-color: #d6d6d6;
  }

.share__facebook {
    background-color: #168e9a;
  }

.share__facebook:hover {
    background-color: #12c0d2;
  }

.share__facebook--pressed {
    background-color: #168e9a !important;
  }

.share__facebook--disabled {
    background-color: #a8e7ee;
  }

.share__twitter {
    background-color: #12c0d2;
  }

.share__twitter:hover {
    background-color: #75dae5;
  }

.share__twitter--pressed {
    background-color: #17adbd !important;
  }

.share__twitter--disabled {
    background-color: #a8e7ee;
  }

.share__whatsapp {
    background-color: #17994d;
  }

.share__whatsapp:hover {
    background-color: #3cb934;
  }

.share__whatsapp--pressed {
    background-color: #0c763d !important;
  }

.share__whatsapp--disabled {
    background-color: #c7f3a2;
  }

.share__link {
    background-color: #6d6d6d;
  }

.share__link:hover {
  }

.share__link--pressed {
    background-color: #3f3f3f !important;
  }

.share__link--disabled {
    background-color: #d6d6d6;
  }

.support {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 33px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {

.support {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 284px;
            flex: 0 0 284px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px
}
  }

@media (min-width: 1024px) {

.support {
    display: block;
    padding-top: 0;
    margin-bottom: 0
}
  }

.support--show-on-mobile-and-tablet {
    display: block;
  }

.support .support-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 17px 22px;

  }

@media (min-width: 768px) {

.support .support-container {
      padding: 17px 0 17px 22px

  }
  }

@media (min-width: 1024px) {

.support .support-container {
      padding: 17px 22px

  }
  }

.support .support-container--bg-grey {
    background-color: #efefef;
    padding: 17px 22px;
  }

.page-header {

  margin-bottom: 60px;
}

@media (max-width: 767px) {

.page-header--small-btm-margin-mobile {
      margin-bottom: 30px
  }
  }

.page-header h1 {
    font-family: Aleo;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    text-align: left;
    color: #17adbd;
    margin-top: 0;
    margin-bottom: 20px;
  }

@media (min-width: 768px) {

.page-header h1 {
      font-family: Aleo;
      font-size: 48px;
      font-weight: bold;
      line-height: 1.15;
      text-align: left;
      color: #17adbd
  }
  }

.page-header p {
    font-family: Lato;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.05;
    text-align: left;
    color: #3f3f3f;
  }

@media (min-width: 768px) {

.page-header p {
      font-family: Lato;
      font-size: 26px;
      font-weight: 300;
      line-height: 1.27;
      text-align: left;
      color: #3f3f3f
  }
  }

@media (max-width: 767px) {

.page-header--padding-mobile {
      padding-left: 22px;
      padding-right: 22px
  }
  }

.support-box {

  border-radius: 1px;
  overflow: hidden;
}

.support-box .support-container--bg-grey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

.support-box__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 16px;
  }

.support-box__stats {
    display: inline-block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-bottom: 28px;
  }

.support-box__stats__valuebar {
      width: 100%;
      height: 33px;
      background-color: #fbfbfb;
      margin-bottom: 7px;
      border-radius: 1px;
      overflow: hidden;
    }

.support-box__stats__valuebar span {
        height: 33px;
        display: inline-block;
        background-color: #ea5d36;
      }

.support-box__stats__participant {
      display: block;
      width: 100%;
      margin-top: 10px;
    }

@media (min-width: 768px) {

.support-box__stats__participant {
        display: inline-block;
        width: 50%;
        margin-top: 5px;
        margin-bottom: 0
    }
  }

@media (min-width: 1024px) {

.support-box__stats__participant {
        display: block;
        width: 100%;
        margin-bottom: 7px
    }
  }

.support-box__stats__participant .max {
        display: inline-block;
        width: 40%;
        text-align: right;
        font-family: Lato;
        font-size: 15px;
        line-height: 1.47;
        text-align: left;
        color: #3f3f3f;
      }

@media (min-width: 768px) {

.support-box__stats__participant .max {
          width: auto;
          text-align: left;
          padding-left: 10px
      }
  }

@media (min-width: 1024px) {

.support-box__stats__participant .max {
          width: 40%;
          text-align: right;
          padding-left: 0
      }
  }

.support-box__stats__participant .val {
        display: inline-block;
        width: 60%;
      }

@media (min-width: 768px) {

.support-box__stats__participant .val {
          width: auto;
          text-align: left
      }
  }

@media (min-width: 1024px) {

.support-box__stats__participant .val {
          width: 60%;
          text-align: left
      }
  }

.support-box__stats__participant .val span:first-child {
          font-family: Lato;
          font-size: 26px;
          font-weight: bold;
          line-height: 1.27;
          text-align: left;
          color: #3f3f3f;
          padding-right: 5px;
          line-height: 1;
        }

.support-box__stats__amount {
      display: block;
      width: 100%;
      font-family: Lato;
      font-size: 13px;
      line-height: 1.69;
      text-align: left;
      color: #3f3f3f;
    }

@media (min-width: 768px) {

.support-box__stats__amount {
        display: inline-block;
        width: 50%
    }
  }

@media (min-width: 1024px) {

.support-box__stats__amount {
        display: block;
        width: 100%
    }
  }

.support-box__stats__amount .max {
        display: inline-block;
        width: 50%;
        text-align: right;
      }

@media (min-width: 768px) {

.support-box__stats__amount .max {
          text-align: left;
          padding-left: 10px
      }
  }

@media (min-width: 1024px) {

.support-box__stats__amount .max {
          text-align: right;
          padding-left: 0
      }
  }

.support-box__stats__amount .val {
        display: inline-block;
        width: 50%;
        text-align: left;
        font-weight: bold;
      }

@media (min-width: 768px) {

.support-box__stats__amount .val {
          width: auto
      }
  }

@media (min-width: 1024px) {

.support-box__stats__amount .val {
          width: 50%
      }
  }

.support-box .btn-support--primary {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

.support-box .btn-support--secondary {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

@media (min-width: 768px) {

.support-box .btn-support--secondary {
      -webkit-box-flex: 1;
          -ms-flex: 1 auto;
              flex: 1 auto;
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5
  }
  }

@media (min-width: 1024px) {

.support-box .btn-support--secondary {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%;
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4
  }
  }

.support-box__footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

@media (min-width: 768px) {

.support-box__footer {
      -ms-flex-item-align: center;
          align-self: center;
      -webkit-box-flex: 1;
          -ms-flex: 1 auto;
              flex: 1 auto;
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4
  }
  }

@media (min-width: 1024px) {

.support-box__footer {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%;
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5
  }
  }

.support-info {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 21px;
}

@media (min-width: 768px) {

.support-info {
    margin-top: 53px
}
  }

.support-info__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    margin: 15px 0;
  }

@media (min-width: 768px) {

.support-info__header {
      margin-top: 0
  }
  }

@media (min-width: 1024px) {

.support-info__header {
      margin: 15px 0
  }
  }

.support-info ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    margin: 0;
    padding: 0;
  }

@media (min-width: 768px) {

.support-info ul {
      -webkit-box-flex: 1;
          -ms-flex: 1 50%;
              flex: 1 50%;
      padding-right: 40px
  }
  }

@media (min-width: 1024px) {

.support-info ul {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%;
      padding-right: 0
  }
  }

.support-info ul li {
      font-family: Lato;
      font-size: 15px;
      line-height: 1.47;
      text-align: left;
      color: #3f3f3f;
      list-style-type: none;
      padding-bottom: 10px;
    }

.support-info ul li::before {
      content: url('/app/assets/images/arrow.png');
      padding-right: 7px;
      margin-left: -22px;
    }

.support-info__perks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

@media (min-width: 768px) {

.support-info__perks {
      -webkit-box-flex: 1;
          -ms-flex: 1 50%;
              flex: 1 50%
  }
  }

@media (min-width: 1024px) {

.support-info__perks {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%
  }
  }

.support-info__perks ul {
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%;
      margin: 0;
      padding: 0;
    }

.support-info__perks ul li {
        font-family: Lato;
        font-size: 15px;
        line-height: 1.47;
        text-align: left;
        color: #3f3f3f;
        list-style-type: none;
        padding-bottom: 10px;
      }

.support-info__perks ul li::before {
        content: url('/app/assets/images/arrow.png');
        padding-right: 7px;
        margin-left: -22px;
      }

.support-info__perks figure {
      margin: 12px 0 0 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 48%;
              flex: 0 48%;
      border-radius: 1px;
      overflow: hidden;
    }

@media (min-width: 768px) {

.support-info__perks figure {
        margin-top: 5px
    }
  }

@media (min-width: 1024px) {

.support-info__perks figure {
        margin-top: 12px
    }
  }

.support-info__perks figure img {
        width: 100%;
      }

.support-info__perks figure figcaption {
        font-family: Lato;
        font-size: 13px;
        line-height: 1.69;
        text-align: left;
        color: #3f3f3f;
      }

.btn-support {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  border-radius: 1px;
  overflow: hidden;
}

@media (min-width: 1024px) {

.btn-support {
    width: 100%
}
  }

.btn-support--primary {
    background-color: #ea5d36;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 10px 0;
  }

.btn-support--primary--label-lg {
      color: #fbfbfb;
      font-family: Aleo;
      font-size: 21px;
      font-weight: 400;
      line-height: 1;
      text-align: center;
    }

.btn-support--primary--label-sm {
      padding-top: 5px;
      color: #fbfbfb;
      font-family: Lato;
      font-size: 15px;
      font-weight: 200;
      line-height: 1;
      text-align: center;
    }

.btn-support--primary:hover {
      background-color: #cd4a2b;
    }

.btn-support--primary:hover .btn-support--primary--label-lg,
      .btn-support--primary:hover .btn-support--primary--label-sm {
        color: #f6b8a6;
      }

.btn-support--primary--pressed {
      background-color: #cd4a2b;
    }

.btn-support--primary--pressed .btn-support--primary--label-lg,
      .btn-support--primary--pressed .btn-support--primary--label-sm {
        color: #fbfbfb !important;
      }

.btn-support--primary--dispabled {

    }

.btn-support--secondary {
    border: 1px solid #bdbdbd;
    font-size: 0;
    padding: 0 4px;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 11px 0;
    margin-top: 22px;
    margin-bottom: 28px;
    color: #6d6d6d;
  }

@media (min-width: 768px) {

.btn-support--secondary {
      font-family: Lato;
      font-size: 15px;
      font-weight: bold;
      line-height: 1;
      text-align: center
  }
  }

.btn-support--secondary:hover {
      border-color: #9b9b9b;
      color: #9b9b9b;
    }

.btn-support--secondary--pressed {
      border-color: #6d6d6d;
      color: #6d6d6d !important;
    }

.btn-support--secondary--dispabled {

    }

.btn-support--pull-right {
    float: right;
  }

.frontpage--1 {
    width: 100%;

  }

@media (min-width: 1024px) {

.frontpage--1 {
      width: calc(100% - 284px);
      padding-right: 33px

  }
  }

.frontpage--1 img {
      width: 100%;
    }

.teaser-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {

.teaser-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap
}
  }

.teaser-container .teaser__more-stories {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

@media (min-width: 768px) {

.teaser-container .teaser__more-stories {
      margin: 27px 0
  }
  }

.teaser {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #efefef;
  margin-bottom: 21px;
}

@media (min-width: 768px) {

.teaser {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46.5%;
            flex: 0 1 46.5%;
    margin-bottom: 0
}
  }

.teaser a {
    text-decoration: none;
  }

.teaser a img {
      width: 100%;
      margin-bottom: 10px;
      padding: 0;
    }

.teaser a h3 {
      font-family: Lato;
      font-size: 13px;
      line-height: 1.69;
      text-align: left;
      color: #6d6d6d;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0;
      margin-left: 11px;
      padding: 0;
    }

.teaser a p {
      font-family: Aleo;
      font-size: 17px;
      font-weight: bold;
      line-height: 1.29;
      text-align: left;
      color: #3f3f3f;
      margin: 0 0 18px 11px;
      padding: 0;
    }

.news-item {
  padding-bottom: 25px;
  margin-bottom: 45px;
  border-bottom: 1px solid #d6d6d6;
}

.news-item:last-child {
    border-bottom: 0;
  }

@media (min-width: 768px) {

.news-item {
    padding-bottom: 20px
}
  }

@media (min-width: 1024px) {

.news-item {
    padding-bottom: 15px
}
  }

.news-item h1 {
    font-family: Lato;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.05;
    text-align: left;
    color: #3f3f3f;
  }

@media (min-width: 768px) {

.news-item h1 {
      font-family: Lato;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.27;
      text-align: left;
      color: #3f3f3f
  }
  }

.news-item h2 {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    text-align: left;
    color: #3f3f3f;
    margin-top: 1.5em;
  }

@media (min-width: 768px) {

.news-item h2 {
      font-family: Lato;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.83;
      text-align: left;
      color: #3f3f3f;
      margin-top: 10px;
      margin-bottom: 14px
  }
  }

.news-item p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: left;
    color: #3f3f3f;
  }

@media (min-width: 768px) {

.news-item p {
      font-family: Lato;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.83;
      text-align: left;
      color: #3f3f3f;
      margin: 14px 0
  }
  }

.news-item img {
    width: 100%;
    margin-top: 20px;
    border-radius: 1px;
    overflow: hidden;
  }

.news-item__date {
    font-family: Lato;
    font-size: 15px;
    line-height: 1.47;
    text-align: left;
    color: #6d6d6d;
  }

@media (max-width: 767px) {

.news-item--padding-mobile {
      padding-left: 22px;
      padding-right: 22px
  }
  }

.news-item__video {
    width: 100%;
    margin: 30px 0;
    border-radius: 1px;
    overflow: hidden;
  }

@media (min-width: 768px) {

.news-item__video {
      margin: 20px 0
  }
  }

.news-item__video video {
      width: 100%  !important;
      height: auto !important;
    }

.news-item__video iframe {
      border-radius: 1px;
      overflow: hidden;
    }

.team-item {
  margin-bottom: 45px;
  min-height: 144px;
}

.team-item__image {
    float: right;
    margin-bottom: 10px;
  }

@media (min-width: 768px) {

.team-item__image {
      float: left;
      margin-bottom: 0
  }
  }

.team-item__image span {
      display: inline-block;
      height: 111px;
      width: 111px;
      border-radius: 111px;
      overflow: hidden;
    }

@media (min-width: 768px) {

.team-item__image span {
        height: 144px;
        width: 144px;
        border-radius: 144px
    }
  }

.team-item__image span img {
        width: 111px;
      }

@media (min-width: 768px) {

.team-item__image span img {
          width: 144px
      }
  }

.team-item__title {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.69;
    text-align: left;
    color: #6d6d6d;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }

@media (min-width: 768px) {

.team-item__title {
      margin: 0 0 10px 168px
  }
  }

.team-item__description {
    font-family: Lato;
    font-size: 15px;
    line-height: 1.47;
    text-align: left;
    color: #3f3f3f;
    margin: 0;
  }

@media (min-width: 768px) {

.team-item__description {
      margin: 0 0 10px 168px
  }
  }

.team-item__description--bold {
      font-weight: bold;
    }

.supporter .grid-item {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 1px;
    overflow: hidden;
  }

@media (min-width: 768px) {

.supporter .grid-item {
      width: 30%;
      margin-right: 3%;
      margin-bottom: 30px
  }
  }

@media (min-width: 1024px) {

.supporter .grid-item {
      width: 22%;
      margin-right: 3%;
      margin-bottom: 30px
  }
  }

.supporter .grid-item img {
      width: 100%;
    }

.link {
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 2.06;
  text-align: left;
  color: #17adbd;
}

@media (min-width: 768px) {

.link {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.83;
    text-align: left;
    color: #17adbd
}
  }
