/******************* VARIABLES ********************/

$color-greyscale-100    : #0F0F0F;
$color-greyscale-80     : #3B3B3B;
$color-greyscale-70     : #3F3F3F;
$color-greyscale-60     : #505050;
$color-greyscale-50     : #666666;
$color-greyscale-40     : #929292;
$color-greyscale-30     : #BEBEBE;
$color-greyscale-20     : #EAEAEA;
$color-greyscale-0      : #FFFFFF;

$color-primary-60      : #00BBCE;

$color-support-60       : #EA5D36;
$color-support-40       : #EB7A5B;
$color-support-20       : #FBDFD7;

$size-grid : 24px;
$size-base : 16px;

$font-size-xlarge       : 34px;
$font-size-mlarge        : 26px;
$font-size-large        : 20px;
$font-size-medium       : 18px;
$line-height-large      : $size-grid * 1.25;
$font-size-small        : 14px;

$transition-all         : all 500ms ease-in-out;
$transition-all-fast    : all 200ms ease-in-out;

$font-family-lato       : "Lato";

/******************* BREAKPOINTS ********************/

$bp-tablet     : 816px;
$bp-smartphone : 568px;


/******************* PAGE ********************/



/* step-1 */

.label--donation, #donation { font-family: $font-family-lato; font-size: $font-size-mlarge; color: $color-greyscale-70; display: inline-block; line-height: 35px; }
.label--donation { float: none; padding-right: 4px; position: relative; top: 3px; }
#donation { font-family: $font-family-lato; font-size: $font-size-mlarge; background-color: transparent; border: 0; border-bottom: 1px solid $color-greyscale-30; width: $size-grid * 5; }
.support-anonymous { margin: 0; margin-bottom: 60px; display: inline-block;}


/* step-2 */

.stated_supporter-wrap { visibility: hidden; }
.stated_supporter-wrap--act { visibility: visible; }

.checkbox--hidden { display: none; }
label { font-family: $font-family-lato; font-size: $font-size-medium; color: $color-greyscale-80 }
.label--hidden { visibility: hidden;  }

.stated_supporter-wrap__info { display: none; }
.stated_supporter-wrap__info--act { display: block; }


/* step-3 */

.validate-title { display: none; margin-top: 0; }
.validate-title--visible { display: block; }
.validate-memb { clear: both; }

.newsletter-wrap--invisible { display: none; }

/* step-4 */


/******************* RESPONSIVE ********************/

/********** tablet **********/

@media screen and (max-width: $bp-tablet) {



}

/********** smartphone **********/

@media screen and (max-width: $bp-smartphone) {


/***** step 1 *****/

.carousel .label--donation { line-height: 35px; }

/***** step 2 *****/

.carousel .stated_supporter-wrap__info--act.small { display: block; }


/***** step 3 *****/


/***** step 4 *****/


}
