.article {
  padding-bottom: 50px;

  h1 {
    @mixin heading--mobile;

    @mixin atSmall {
      @mixin heading;
    }
  }

  h2 {
    @mixin heading--small--mobile;

    @mixin atSmall {
      @mixin heading--small;
      margin-top: 36px;
      margin-bottom: 14px;
    }
  }

  p {
    @mixin text--mobile;

    @mixin atSmall {
      @mixin text;
      margin: 14px 0;
    }
  }

  img {
    width: 100%;
  }
  
  &--padding-mobile {
    @mixin onMobile {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
}
