.content {
  padding-top: 50px;
  padding-left: 22px;
  padding-right: 22px;

  @mixin atSmall {
    padding-top: 117px;
    padding-bottom: 80px;
    padding-left: 33px;
    padding-right: 33px;
  }

  @mixin atMedium {
    padding-left: 66px;
    padding-right: 0;
  }

  &--padding-right {
    padding-right: 22px;

    @mixin atSmall {
      padding-right: 33px;
    }

    @mixin atMedium {
      padding-right: 66px;
    }
  }

  &--no-left-padding-mobile {
    @mixin onMobile {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--rl-narrow-margin-desktop {
    @mixin atMedium {
      padding-left: 55px;
      padding-right: 55px;
    }
  }

  &--extra-narrow-right-margin {
    @mixin atSmall {
      padding-right: 0px;
    }
    @mixin atMedium {
      padding-right: 12px;
    }
  }

  &__wrapper {
    position: relative;

    margin-bottom: 80px;

    @mixin atSmall {
      margin-bottom: 0;
    }

    &__main {
      width: 100%;

      @mixin atMedium {
        width: calc(100% - 284px);
        padding-right: 33px;
      }
    }

    &__aside {
      width: 100%;

      @mixin atMedium {
        width: 284px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
