footer {
  width: 100%;
  max-width: 1024px;
  line-height: 1;
  background-color: $greyish-brown;
  font-size: 0;
  padding-top: 17px;

  @mixin atSmall {
    line-height: 66px;
    padding-top: 0;
  }


  .footer__brand {
    display: block;
    cursor: pointer;
    padding-left: 22px;

    @mixin atSmall {
      display: inline-block;
      vertical-align: middle;
      padding-left: 33px;
    }

    @mixin atMedium {
      padding-left: 66px;
    }

    span {
      margin: 0;
    }
    &--large {
      display: block;
      line-height: 24px !important;

      &__title {
        display: inline-block;
        vertical-align: middle;
        @mixin nav-brand--mobile--large;

        @mixin atSmall {
          @mixin footer-brand--large;
        }
      }

      &__logo {
        display: inline-block;
        background: $topaz-two url('/assets/images/magnifier.png') no-repeat center;
        margin-left: 5px;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        vertical-align: middle;
        position: relative;
        top: -1px;
        left: 2px;

        @mixin atSmall {
          width: 21px;
          height: 21px;
          border-radius: 21px;
        }
      }
    }
    &--small {
      @mixin nav-brand--mobile--small;
      display: block;
      padding-top: 3px;
    }
  }

  .footer__links {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 15px 0 15px 22px;
    line-height: 36px;

    @mixin atSmall {
      line-height: 66px;
      padding: 0;
    }

    li {
      display: inline-block;
      padding-right: 37px;

      @mixin atSmall {
        padding-right: 0;
        padding-left: 37px;
      }

      a {
        @mixin footer-link;
        text-decoration: none;
        vertical-align: middle;
      }
    }
  }
}
