footer {

  width: 100%;
  background-color: $greyish-brown;

  .footer {

    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    line-height: 1;
    font-size: 0;
    padding-top: 17px;

    @mixin atSmall {
      line-height: 66px;
      padding-top: 0;
    }


    .footer__brand {
      display: block;
      cursor: pointer;
      padding-left: 22px;
      text-decoration: none;

      @mixin atSmall {
        display: inline-block;
        vertical-align: middle;
        padding-left: 33px;
      }

      @mixin atMedium {
        padding-left: 66px;
      }

      span {
        margin: 0;
      }
      &--large {
        display: block;
        height: 23px;
        line-height: 23px !important;

        img {
          height: 25px;

          @mixin atSmall {
            height: 23px;
          }
        }
      }
      &--small {
        @mixin nav-brand--mobile--small;
        display: block;
        padding-top: 3px;
      }
    }

    .footer__links {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 15px 0 15px 22px;
      line-height: 36px;

      @mixin atSmall {
        line-height: 66px;
        padding: 0;
      }

      li {
        display: inline-block;
        padding-right: 37px;

        @mixin atSmall {
          padding-right: 0;
          padding-left: 37px;
        }

        a {
          @mixin footer-link;
          text-decoration: none;
          vertical-align: middle;
        }
        a:hover {
          color: $pinkish-grey;
        }
      }
    }
  }
}
