.main-header {
  width: 100%;
  z-index: 100;
  display: block;
  height: 55px;
  background-color: $greyish-brown;

  @mixin atSmall {
    position: fixed;
    top: 0;
    height: 68px;
  }

  .header {
    width: 100%;
    max-width: 1024px;
    line-height: 55px;
    padding-left: 22px;
    font-size: 0;
    flex: 1;
    margin-left: 0;

    @mixin atSmall {
      line-height: 66px;
      padding-left: 33px;
    }
    @mixin atMedium {
      padding-left: 44px;
    }
    @mixin atMaxContentWidth {
      margin-left: calc((100% - 1024px) / 2);
    }

    &--left {
      display: inline-block;
      float: left;
      width: 150px;
    }
    &--middle {
      display: inline-block;
      width: calc(100% - 410px);
      overflow-x: hidden;

      @mixin atMedium {
        width: calc(100% - 540px);
      }
    }
    &--right {
      display: inline-block;
      float: right;
      width: 170px;

      @mixin atSmall {
        width: 260px;
      }

      @mixin atMedium {
        width: 390px;
      }
    }

    &__brand {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      text-decoration: none;

      span {
        margin: 0;
      }
      &--large {
        position: relative;
        top: -3px;
        display: block;
        line-height: 1;

        @mixin atSmall {
          top: -5px;
        }

        img {
          height: 26px;

          @mixin atSmall {
            height: auto;
          }
        }
      }
      &--small {
        @mixin nav-brand--mobile--small;
        display: block;

        @mixin atSmall {
          @mixin nav-brand--small;
        }
      }
    }

    &__links {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        @mixin atSmall {
          margin-left: 31px;
        }
        @mixin atMedium {
          margin-left: 22px;
        }

        a {
          @mixin nav-link;
          display: inline-block;
          line-height: 66px;
          text-decoration: none;
          vertical-align: middle;
        }
        a:hover {
          color: $pinkish-grey;
        }
      }
      &--active {
        color: $topaz !important;
      }
    }

    &__share-buttons {
      display: none;

      @mixin atMedium {
        display: inline-block;
      }
    }

    &__buttons {
      float: right;
      display: flex;
      margin-right: 44px;
      height: 55px;

      @mixin atSmall {
        margin-right: 0;
        height: 66px;
      }
    }
  }
}
