.header {
  line-height: 55px;
  background-color: $greyish-brown;
  padding-left: 22px;
  padding-right: 11px;
  font-size: 0;
  flex: 1;

  @mixin atSmall {
    line-height: 66px;
    padding-left: 33px;
  }
  @mixin atMedium {
    padding-left: 44px;
  }


  &__brand {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    span {
      margin: 0;
    }
    &--large {
      display: block;
      line-height: 24px !important;
      @mixin nav-brand--mobile--large;

      @mixin atSmall {
        @mixin nav-brand--large;
        line-height: 28px !important;
      }

      &__title {
        display: inline-block;
        vertical-align: middle;
      }

      &__logo {
        display: inline-block;
        background: $topaz-two url('/assets/images/magnifier.png') no-repeat center;
        margin-left: 5px;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        vertical-align: middle;
        position: relative;
        top: -2px;
        left: -2px;

        @mixin atSmall {
          width: 28px;
          height: 28px;
          border-radius: 28px;
        }
      }
    }
    &--small {
      @mixin nav-brand--mobile--small;
      display: block;
      padding-top: 3px;

      @mixin atSmall {
        @mixin nav-brand--small;
        padding-top: 5px;
      }
    }
  }

  &__links {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      @mixin atSmall {
        margin-left: 31px;
      }
      @mixin atMedium {
        margin-left: 22px;
      }

      a {
        @mixin nav-link;
        display: inline-block;
        line-height: 66px;
        text-decoration: none;
        vertical-align: middle;
      }
      a:hover {
        color: $pinkish-grey;
      }
    }
    &--active {
      color: $topaz !important;
    }
  }

  .link-c-1 {
    display: none;
    @mixin atSmall {
      display: inline-block;
    }
  }
  .link-c-2 {
    display: none;
    @mixin atMedium {
      display: inline-block;
    }
  }

  &__share-buttons {
    display: none;
    margin-left: 28px;

    @mixin atMedium {
      display: inline-block;
    }
  }

  &__buttons {
    float: right;
    display: flex;
    margin-right: 40px;
    height: 55px;

    @mixin atSmall {
      margin-right: 0;
      height: 66px;
    }
  }
}
