.menu {
  display: inline-block;
  background-color: $greyish-brown;
  position: relative;
  float: right;

  @mixin atSmall {
    margin-left: 26px;
    float: none;
  }
  @mixin atMedium {
    margin-left: 20px;
  }

  &__title {
    display: none;
    @mixin nav-sticky;
    vertical-align: middle;
    line-height: 55px;

    @mixin atSmall {
      display: inline-block;
      line-height: 66px;
    }

    &::after {
      content: ">";
      font-size: 22px;
      position: relative;
      top: 2px;
    }
  }
  &__title:hover,
  &__title--is-active {
    color: $white-three;
    &::after {
      content: ">";
      display: inline-block;
      font-size: 22px;
      transform: rotateZ(90deg);
      -webkit-transform: rotateZ(90deg);
    }
  }
  &__title--is-active {
    color: $white-two;
  }

  &__menu-icon {
    width: 23px;
    height: 14px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }
    &__middle {
      position: absolute;
      top: 6px;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      transform-origin: 0 50%;
      transition: all .3 ease-out;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atSmall {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) translateY(-3px);
    }
    .menu__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }
    &::after {
      transform: rotate(-45deg) translateY(2px);
    }
  }

  &__links {
    display: none;
    background-color: $greyish-brown;
    list-style-type: none;
    margin: 0;
    padding: 35px 0 15px 0;
    position: fixed;
    top: 55px;
    right: 0;
    left: 0;

    @mixin atSmall {
      position: absolute;
      top: 66px;
      right: auto;
      left: auto;
      padding-top: 10px;
    }

    li {
      line-height: 1;
      margin-bottom: 11px;
      a {
        @mixin nav-link;
        text-decoration: none;
        padding: 0 23px;
      }
      a:hover {
        color: $pinkish-grey;
      }
    }
    &--active {
      color: $topaz !important;
    }

    &--is-visible {
      display:block;
    }

    .link-c-1 {
      display: block;
      @mixin atSmall {
        display: none;
      }
    }
    .link-c-2 {
      display: block;
      @mixin atMedium {
        display: none;
      }
    }
  }

  &__share {
    display: inline-block;
    margin-left: 11px;
    margin-top: 13px;
    margin-bottom: 15px;

    @mixin atMedium {
      display: none;
    }
  }
}
