.menu {
  background-color: transparent;
  float: right;

  @mixin atSmall {
    display: flex;
    float: left;
    padding: 0 0 0 26px;
    padding: 0;
  }
  @mixin atMedium {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
  }

  &__link {
    display: none;
    line-height: 55px;
    padding: 0 22px 0 0;

    &:first-child {
      padding-left: 22px;
    }

    @mixin atSmall {
      display: inline-block;
      line-height: 66px;
    }

    a {
      @mixin nav-link;
      display: inline-block;
      line-height: 55px;
      text-decoration: none;
      vertical-align: middle;

      @mixin atSmall {
        line-height: 66px;
      }

      &:hover {
        color: $pinkish-grey;
      }
    }
  }

  &__dropdown {
    &__links {
      position: absolute;
      display: block;
      margin: 0;
      padding: 40px 0 30px 0;
      visibility: hidden;
      background-color: $greyish-brown;
      white-space: nowrap;
      left: 0;
      right: 0;

      @mixin atSmall {
        left: auto;
        right: auto;
        margin-left: -22px;
        padding: 18px 0 21px 0;
      }

      li {
         line-height: 2;
         padding: 0 23px;

         a {
           @mixin nav-link;
           line-height: 2;
           height: 2em;
           text-decoration: none;
           vertical-align: middle;

           &:hover {
             color: $pinkish-grey;
           }
         }
       }
    }

    &__title {
      position: relative;
      top: -1px;
      display: none;
      visibility: hidden;
      @mixin nav-sticky;
      vertical-align: middle;
      line-height: 55px;
      height: 55px;
      white-space: nowrap;
      cursor: pointer;
      text-transform: uppercase;

      @mixin atSmall {
        display: inline-block;
        visibility: visible;
        line-height: 66px;
        height: 66px;
      }

      &:hover {
        color: $white-three;
      }

      &:active {
        color: $white-two;
      }

      &::after {
        content: url('/app/assets/images/menu-arrow.png');
        font-size: 22px;
        position: relative;
        top: 2px;
        left: 2px;
      }

      &--active {
        color: $white-two !important;

        &::after {
          display: inline-block;
          transform: rotateZ(90deg);
          left: 5px;
        }
      }
    }
  }

  .menu--show-item {
    visibility: visible !important;
  }

  &__menu-icon {
    width: 23px;
    height: 14px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }
    &__middle {
      position: absolute;
      top: 6px;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      transform-origin: 0 50%;
      transition: all .3 ease-out;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;;
      left: 0;
      width: 23px;
      height: 2px;
      background-color: #fff;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atSmall {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) translateY(-3px);
    }
    .menu__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }
    &::after {
      transform: rotate(-45deg) translateY(2px);
    }
  }

  &__links {
    &--active {
      color: $topaz !important;
    }

  }

  &__share-container {
    display: inline-block;
    line-height: normal;
    padding-left: 23px;
    margin-top: 30px;
    margin-bottom: 15px;

    @mixin atSmall {
      margin-top: 20px;
    }

    ul li {
      margin-bottom: 0;
      margin-left: 0 !important;
      padding-left: 0;
      padding-right: 15px;
    }

    @mixin atMedium {
      display: none;
    }
  }
}

.disable-scroll {
  @mixin onMobile {
    overflow: hidden;
  }
}

.opaque {
  @mixin onMobile {
    opacity: 0.5;
  }
}
