.news-item-video {
  padding-bottom: 25px;
  margin-bottom: 45px;
  border-bottom: 1px solid $white-three;

  &:last-child {
    border-bottom: 0;
  }

  @mixin atSmall {
    padding-bottom: 20px;
  }

  @mixin atMedium {
    padding-bottom: 15px;
  }

  h1 {
    @mixin heading--mobile;

    @mixin atSmall {
      @mixin heading;
    }
  }

  h2 {
    @mixin heading--small--mobile;
    margin-top: 1.5em;

    @mixin atSmall {
      @mixin heading--small;
      margin-top: 10px;
      margin-bottom: 14px;
    }
  }

  p {
    @mixin text--mobile;

    @mixin atSmall {
      @mixin text;
      margin: 14px 0;
    }
  }

  img {
    width: 100%;
    margin-top: 20px;
  }

  &__date {
    @mixin heading--special;
  }

  &--padding-mobile {
    @mixin onMobile {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
}
