.page-header {

  margin-bottom: 60px;

  &--small-btm-margin-mobile {
    @mixin onMobile {
      margin-bottom: 30px;
    }
  }

  h1 {
    @mixin title--mobile;
    margin-top: 0;
    margin-bottom: 20px;

    @mixin atSmall {
      @mixin title--small;
    }
  }

  p {
    @mixin lead--mobile;

    @mixin atSmall {
      @mixin lead;
    }
  }

  &--padding-mobile {
    @mixin onMobile {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
}
