.share {

  max-width: 470px;
  margin-top: 40px;

  header {
    padding-bottom: 17px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      flex: 1 0 10%;
      a, span {
        width: 32px;
        height: 32px;
        border-radius: 32px;;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        img {
          width: auto;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
        }
      }
    }
    li:first-child a {
      margin-left: 0;
    }
    li:last-child {
      flex: 1 0 60%;
    }
    li:last-child span input {
      @mixin text--xsmall;
      display: inline-block;
      width: 240px;
      line-height: 31px;
      padding-left: 40px;
      padding-bottom: 0;
      padding-top: 0;
      border: 1px solid $white-three;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      background-color: transparent;
      outline: none;
    }
  }

  &__mail {
    background-color: $brownish-grey;
  }
  &__mail:hover {
    background-color: $warm-grey;
  }
  &__mail--focus {
    background-color: $greyish-brown;
  }
  &__mail--disabled {
    background-color: $white-three;
  }

  &__facebook {
    background-color: $blue-green;
  }
  &__facebook:hover {
    background-color: $topaz;
  }
  &__facebook--focus {
    background-color: $blue-green;
  }
  &__facebook--disabled {
    background-color: $light-teal;
  }

  &__twitter {
    background-color: $topaz;
  }
  &__twitter:hover {
    background-color: $tiffany-blue;
  }
  &__twitter--focus {
    background-color: $topaz-two;
  }
  &__twitter--disabled {
    background-color: $light-teal;
  }

  &__whatsapp {
    background-color: $dark-sea-green;
  }
  &__whatsapp:hover {
    background-color: $leafy-green;
  }
  &__whatsapp--focus {
    background-color: $spruce;
  }
  &__whatsapp--disabled {
    background-color: $washed-out-green;
  }

  &__link {
    background-color: $brownish-grey;
  }
  &__link:hover {
    /* background-color: $warm-grey; */
  }
  &__link--focus {
    background-color: $greyish-brown;
  }
  &__link--disabled {
    background-color: $white-three;
  }
}
