.supporter {

  .grid-item {
    width: 100%;
    margin-bottom: 30px;

    @mixin atSmall {
      width: 30%;
      margin-right: 3%;
      margin-bottom: 30px;
    }

    @mixin atMedium {
      width: 22%;
      margin-right: 3%;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
    }
  }
}
