.support {
  flex: 1 100%;
  display: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 33px;
  margin-bottom: 50px;

  @mixin atSmall {
    flex: 0 0 284px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
  }

  @mixin atMedium {
    display: block;
    padding-top: 0;
    margin-bottom: 0;
  }

  &--show-on-mobile-and-tablet {
    display: block;
  }

  .support-container {
    display: flex;
    flex-flow: row wrap;
    padding: 17px 22px;

    @mixin atSmall {
      padding: 17px 0 17px 22px;
    }

    @mixin atMedium {
      padding: 17px 22px;
    }

  }

  .support-container--bg-grey {
    background-color: $white-two;
    padding: 17px 22px;
  }
}
