.teaser-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @mixin atSmall {
    flex-flow: row;
  }
}
.teaser {
  flex: 1;
  border: 1px solid $white-two;
  margin-bottom: 21px;

  @mixin atSmall {
    flex: 0 1 46.5%;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;

    img {
      width: 100%;
      margin-bottom: 10px;
      padding: 0;
    }

    h3 {
      @mixin heading--special--small;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0;
      margin-left: 11px;
      padding: 0;
    }

    p {
      @mixin text--special;
      margin: 0 0 18px 11px;
      padding: 0;
    }
  }
}
